* {
    margin: 0;
    box-sizing: border-box;
  }
  
  *:not(ul):not(ol) {
    padding: 0;
  }
  
  html {
    font-family: "Open Sans", sans-serif;
  }
  
  body {
    background-color: #0E0E0E;
    color: white;
  }
  
